{% extends 'learn/base.html' %}
{% block title %}(About){% endblock %}
{% block abtactive %} active {% endblock abtactive %}
{% block body %}
<main role="main">
  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron bg-primary">
    <div class="container">
      <h1 class="text-center" style="font-weight: normal;">
        Ocean of learning
      </h1>
      <p>
        Ocean of Learning is an online platform where you can learn competitive
        programing, latest technologies and at the same time challenge others
        with your own questions. It is a not-for-profit educational initiative.
        It is a global programming community that fosters learning and friendly
        competition, built on top of the world’s largest competitive programming
        platform.Ocean of Learning was created as a platform to help programmers
        make it big in the world of algorithms and computer programming.
      </p>
      <p>
        Today there are dozens of websites available that not only hosts high
        level competitive contests but also are hub to some of the most
        challenging programing questions.Sometimes it become difficult to
        understand which website to choose for competition purpose and are they
        providing us the same level of competitive questions that are asked by
        dream companies like Google, Microsoft, Amazon etc.
      </p>
      <p>
        Thus in Ocean of Learning we provide a collection of every such question
        that is previously asked in dream companies , along with the best
        questions from every such website available till date.Thus no need to
        wander anymore just join Ocean of Learning and start lerning coding for
        real.
      </p>
      <strong>Ocean of learning wishes you all a successfull future.</strong>
    </div>
  </div>

  <div class="container">
    <!-- Example row of columns -->
    <div class="row">
      <div class="col-md-6">
        <h2>Owner's Desk</h2>
        <p>
          This website soly belongs to the owner
          <strong>Mr. Yash Dixit</strong>.
        </p>
      </div>
      <div class="col-md-6">
        <h2>Designed and developed</h2>
        <p>
          This website is designes and developed by the owner
          <strong>Mr. Yash Dixit</strong>.
        </p>
      </div>
    </div>
  </div>
  <!-- /container -->
</main>
{% endblock %}