{% extends 'learn/base.html' %}
{% block tchactive %}active{% endblock tchactive %}
{% block title %}(Courses){% endblock %}
{% block body %}
<div class="container">
  <br />
  <form method="get" action="/search" class="form-inline my-2 my-lg-0">
    <input class="form-control mr-sm-2" type="search" name="search" id="search" placeholder="Search"
      aria-label="Search" />
    <button class="btn btn-outline-success my-2 my-sm-0 mx-1" type="submit">
      Search
    </button>
  </form>
  <br />
  {% for i in Tlogy %} {% if forloop.last %}
  <div class="jumbotron p-4 p-md-5 text-white rounded bg-primary">
    <div class="col-md-6 px-0">
      <h1 class="display-4 font-italic">{{i.blog_name}}</h1>
      <p class="lead my-3">{{i.description_1|truncatewords:30}}</p>
      <p class="lead mb-0">
        <a href="{% url 'learn:technology' i.slug %}" class="text-white font-weight-bold">Continue reading...</a>
      </p>
    </div>
  </div>
  {% endif %} {% endfor %} {% if tech|length < 1 %}
  <div>
    <p>Your search<b> - {{search}} - </b>did not match any documents.</p>
    Suggestions:
    <ul>
      <li>Make sure that all words are spelled correctly.</li>
      <li>Try different keywords.</li>
      <li>Try more general keywords.</li>
    </ul>
  </div>
  {% endif %}
  <div class="row md-2">
    {% for i in tech reversed %}
    <div class="col-md-6">
      <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-primary">{{i.category}}</strong>
          <h4 class="mb-0">{{i.blog_name}}</h4>
          <div class="mb-1 text-muted">{{i.pub_date}}</div>
          <p class="card-text mb-auto">
            {{i.description_1|truncatewords:10}}
          </p>
          <a href="{%url 'learn:technology' i.slug %}" role="button" class="btn btn-primary">Continue reading</a>
        </div>
        <div class="col-auto d-none d-lg-block">
          <img class="bd-placeholder-img" src="/media/{{i.image}}" width="200" height="250"
            xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img"
            aria-label="Placeholder: Thumbnail" />
        </div>
      </div>
    </div>

    {% if forloop.counter|divisibleby:2 %}
  </div>
  <div class="row md-2">
    {% endif %} {% endfor %}
  </div>
  <p>
    <a href="#">Back to top</a>
  </p>
</div>
{% endblock %}